.img_car__z {
    height: 120px;
}
.img_car__z img {
    max-width: 245px;
    display: block;
    margin: auto;
}
.wrylf_carz {

}
.wrylf_carz p {
    font-weight: bold;
    text-align: center;
    font-size: 17px;
    transition: 0.5s ease all;
}
.wrylf_carz a:hover p {
	color: #2E3192;
	transition: 0.5s ease all;
}
.wrylf_carz a {
	display: block;

}
.z1241 .owl-dots {
	display: none;
}

.owl-theme .owl-nav {

}
.z1241 .owl-prev {
    position: absolute;
    left: 0;
    top: 55px;
}
.z1241 .owl-next {
	position: absolute;
    right: 0;
    top: 55px;
}
.z1241 .owl-prev span, .z1241 .owl-next span {
    font-size: 47px;
    /* background: #2E3192; */
    padding: 0px 13px 8px 13px;
    display: inline-block;
    line-height: 33px;
    color: #2E3192;
    /* border: 1px solid #2E3192; */
    border-radius: 800px;
}
.z1241 .owl-prev , .z1241 .owl-next {
	background: 0 !important;
	outline: none !important;
}
.finance-panels .text-panel__text {
    min-height: 95px;
}
.finance-panels .text-panel__heading {
    color: #6a6a6a;
    font-weight: 600;
    font-size: 22px;
    margin: 0 0 10px 0;
    min-height: 62px;
}
.img_car__z1 img {
    max-width: 210px  !important;
    display: block;
    margin: auto;
}
.z632 img {
    width: 140px !important;
    display: block !important;
    margin: auto;
}
.z4211 {
	padding: 5px 0;
}
.z12412 .owl-prev {
    position: absolute;
    left: 0;
    top: 14px;
}
.z12412 .owl-next {
    position: absolute;
    right: 0;
    top: 14px;
}
/*.finance-card__image4 {
	min-height: 250px;
}*/

.finance-card__image.finance-card__image4 {
    min-height: 190px;
}
a.a_cars_Sshow {
    display: inline-block;
    border: 1px solid #dddddd;
}
.a_cars_Sshow .specials__variant {
    min-height: 50px;
}
.zz1156 .owl-dots {
	display: none;
}

.zz1156 .owl-prev {
    position: absolute;
    left: -50px;
    top: 185px;
}
.zz1156 .owl-next {
	position: absolute;
    right: -50px;
    top: 185px;
}
.zz1156 .owl-prev span, .zz1156 .owl-next span {
    font-size: 47px;
     background: #2E3192; 
    padding: 0px 13px 8px 13px;
    display: inline-block;
    line-height: 33px;
    color: white;
     border: 1px solid #2E3192; 
    border-radius: 800px;
}
.zz1156 .owl-prev , .zz1156 .owl-next {
	background: 0 !important;
	outline: none !important;
}

#header .header-main__logo img {
    max-height: 54px;
    transition: all .4s linear;
}

@media screen and (max-width: 768px) {
	.finance-panels {
    margin-bottom: 20px;
}
a.finance-card {
    margin: 20px 0;
}

}

@media screen and (max-width: 992px) and (min-width: 768px ){
		.finance-panels {
    margin-bottom: 20px;
}
a.finance-card {
    margin: 20px 0;
}

}

.affix .contact-bar {
    opacity: 0;
    transition: 0.5s ease all;
}
.affix .header-main {
    position: fixed;
    top: 0;
    width: 100%;

    background: white;
}
.affix #header .header-main__logo img {
    max-height: 42px;

}

.affix a.megamenu__listitem__link, a:visited.megamenu__listitem__link {
    line-height: 85px;
    transition: 0.5s ease all;
}
